:root{
  /* 全局圆角值 */
  --borderRadius:0px;
  /* 夜间模式颜色 */
  --nightMode1:rgb(26, 26, 26);  /*  rgb(255, 255, 255) */
  --nightMode2:rgb(54, 54, 54);  /*  rgb(255, 255, 255) */
  --nightMode3:rgb(255,255,255);  /*  rgb(0,0,0) */

  --nightjb1:rgb(26, 26, 26);  /* rgb(181, 136, 230) */
  --nightjb2:rgb(54, 54, 54);  /* rgb(40, 20, 131) */

  --nightjbser1:rgb(42, 42, 42);  /* rgb(181, 136, 230) */
  --nightjbser2:rgb(42, 42, 42);  /* rgb(100, 58, 178) */

  --nightText1:rgb(42, 42, 42); /* rgb(255,255,255) */
  --nightText2:rgb(53, 53, 53); /* rgb(255,255,255) */
  --nightText3:rgb(68, 68, 68); /* rgb(214, 218, 226) */
  --nightText4:rgb(190, 190, 190); /* rgb(0, 0, 0) */

  --nightLeftSite:rgb(53, 53, 53); /*rgb(255,255,255)*/
  --nightLeftSite2:rgb(190, 190, 190); /*rgb(111, 84, 186)*/


  --nightFont:rgb(184, 184, 184); /* rgb(255,255,255) */


  /* 全局阴影 浅阴影||深阴影 */
  --bodyShadow:0 15px 35px rgba(48, 1, 1, 0.1),0 5px 15px rgba(0,0,0,.07)!important;
}